body {
    font-family: 'Cousine', monospace;
    letter-spacing: -0.03em;
    color: #EAE8F4;
    background-color: #282821;
}

main {
    padding: 0 15px;
    margin: 0 auto;
}

.main-block {
    height: 765px;
    width: 100%;
}

.main-block-container {
    margin: auto;
    padding-top: 30px;
    min-width: 600px;
    max-width: 1150px;
}

/* header {
    position: relative;
} */

.logo .white, .logo .black:hover {
    padding: 0 10px;
    background-color: #EAE8F4;
    border: 2px solid #EAE8F4;
    text-align: center;
    transition: 2s;
}

.logo a .white, .logo .black:hover {
    color: #282821;
    transition: 2s;
}

.logo .black, .logo .white:hover {
    padding: 0 10px;
    background-color: #282821;
    border: 2px solid #EAE8F4;
    text-align: center;
    transition: 2s;
}

.logo a .black, .logo a .white:hover {
    color: #EAE8F4;
}

.logo a {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
}



nav {
    margin-bottom: 30px;
    justify-content: space-between;
    display: flex;
}

nav ul {
    display: flex;
    gap: 0 50px;
    flex-wrap: wrap;
    }

.photo_and_text_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu-btn {

    font-size: 18px;
    line-height: 40px;
    text-decoration: none;
    color: #EAE8F4;
}

.menu-btn:hover {
    border-bottom: 1px #EAE8F4 solid;
}

.main-block__left-text {
    width: 430px;
 }

.main-photo__wrapper {
    width: 200px;
    height: 300px;
    /* position: absolute; */
    right: 0;
    top: 100px;
    transform: scaleX(-1);
    background: url("../resourses/main-photo.jpeg");
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: 30% 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.main-photo__wrapper:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background: linear-gradient(to bottom, transparent 10%, 44%, #282821)
}

.main-service {
    font-size: 20px;
    line-height: 19px;
    text-align: justify;
 }
 
 .main-block__left-text h1{
    margin-top: 10px;
    font-size: 51px;
    line-height: 47px;
    font-weight: 600;
 }

.role {
    /* margin-top: 5px; */
    font-size: 34px;
    line-height: 40px;
}

@media only screen and (max-width: 980px) {
    html {
        width: 500px;
        margin: auto;
    }
    
    nav {
        margin-bottom: 20px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        display: flex;
        gap: 0 50px;
    }
    
    nav ul {
        display: flex;
        gap: 0 50px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        }
        
    nav ul li {
        width: 355px;
        text-align: center;
        margin: 1px 0;
        background-color: #EAE8F4;
    }

    nav ul li:first-child{
        margin-top: 10px;
    }

    .photo_and_text_container {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    .menu-btn {

        color: #282821;
    }

    .main-block__left-text {
        margin-top: 10px;
     }
    
    .main-block__left-text h1, .role {
        text-align: center;
    }
}



