
section {
    margin-bottom: 150px;
}

header {
    margin-top: 27px;
}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5% 50px;
}

.logo .white, .logo .black:hover {
    padding: 0 10px;
    background-color: #d1d157;
    border: 2px solid #d1d157;
    text-align: center;
    transition: 2s;
}

.logo a .white, .logo .black:hover {
    color: #282821;
    transition: 2s;
}

.logo .black, .logo .white:hover {
    padding: 0 10px;
    background-color: #282821;
    border: 2px solid #d1d157;
    text-align: center;
    transition: 2s;
}

.logo a .black, .logo a .white:hover {
    color: #d1d157;
}

.logo a {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
}

.menu-item {
    font-size: 22px;
    line-height: 40px;
    text-decoration: none;
    color: #EAE8F4;
}

.menu-item:hover {
    color: #d1d157;
}

.welcome {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end
}

.welcome__left-text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.main-photo__wrapper {
    width: 200px;
    height: 300px;
    right: 0;
    top: 100px;
    transform: scaleX(-1);
    background: url("../resourses/main-photo.jpeg");
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: 30% 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.main-photo__wrapper:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background: linear-gradient(to bottom, transparent 10%, 44%, #282821)

}

.main-service {
    font-size: 26px;
    line-height: 25px;
    text-align: justify;
 }
 
 .welcome__left-text h1{
    margin-top: 20px;
    font-size: 51px;
    line-height: 47px;
    font-weight: 600;
 }

.role {
    font-size: 34px;
    line-height: 40px;
}

@media (max-width:980px) {
    .menu-list {
        flex-direction: column;
        align-items: center;
        row-gap: 3px;
    }
    .header__inner {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    .welcome {
        padding-top: 10px;
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 10px;
    }

    .menu-list li {
        width: 354px;
        /* background-color: #EAE8F4; */
        text-align: center;
        border: 1px solid #d1d157;
    }
    .menu-item {
        color: #d1d157;
    }
    .welcome__left-text {
        width: 359px;
    }
    .welcome__left-text h1 {
        font-size: 44px;
        letter-spacing: -0.03em;
    }
    .role {
        font-size: 33px;
        letter-spacing: -0.03em;
    }
}


.project {
    display: flex;
    flex-direction: column;
}

h3 {
    margin-bottom: 40px;
    font-size: 55px;
    line-height: 72px;
    letter-spacing: -0.03em;
}



.project__item {
    max-width: 1150px;
    max-height: 550px;
    height: auto;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.project__item img {
    width: 100%;
    height: 100%;
}
.project__item:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
}
.project__item:hover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
}

.project__name__wrapper {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.project__name {
    font-size: 35px;
    line-height: 46px;
}

.what-is-done {
    font-size: 30px;
    line-height: 39px;
}

.view-all-projects {
    margin-top: 80px;
    display: block;
    width: 100%;
    height: 100px;
    background: #d1d157;
    border-radius: 20px;
    font-size: 35px;
    line-height: 100px;
    text-decoration: none;
    color: #282821;
    text-align: center;
    letter-spacing: -0.04em;
    transition: 0.5s;
}

.view-all-projects:hover {
    color: #d1d157;
    background-color: #282821;
    border: 2px solid #d1d157;
}

.my-competencies, .services__header {
    margin-bottom: 48px;
    font-size: 55px;
    line-height: 72px;      
}

.competencies__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px 40px;
}

.competencies__item {
    min-width: 200px;
    max-width: 550px;
}

.competencies__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px; height: 45px;
    border-radius: 10px;
    background-color: #d1d157;
}

.competencies__title {
    margin-top: 12px;
    font-size: 35px;
    line-height: 46px;
    color: #d1d157;

}

.competencies_dicription {
    margin-top: 15px;
    font-size: 22px;
    line-height: 29px;
}

.service__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
}

.service__img {
    position: relative;
    width: 100%;
    height: 200px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;

}

.service__img img {
    position: absolute;
    top: -100px;
}
.service__description {
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-left:1px solid #d1d157;
    border-bottom:1px solid #d1d157;
    border-right:1px solid #d1d157;
}

.service__title {
    font-weight: 600;
    font-size: 55px;
    line-height: 72px;
    color: #d1d157;
}

.service__description__text {
    align-self: flex-start;
    font-size: 22px;
    line-height: 29px;
    max-width: 740px;
}