
header {
    margin-top: 27px;
}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5% 50px;
}

.logo .white, .logo .black:hover {
    padding: 0 10px;
    background-color: #EAE8F4;
    border: 2px solid #EAE8F4;
    text-align: center;
    transition: 2s;
}

.logo a .white, .logo .black:hover {
    color: #282821;
    transition: 2s;
}

.logo .black, .logo .white:hover {
    padding: 0 10px;
    background-color: #282821;
    border: 2px solid #EAE8F4;
    text-align: center;
    transition: 2s;
}

.logo a .black, .logo a .white:hover {
    color: #EAE8F4;
}

.logo a {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
}

.menu-item {

    font-size: 18px;
    line-height: 40px;
    text-decoration: none;
    color: #EAE8F4;
}

.menu-item:hover {
    border-bottom: 1px #EAE8F4 solid;
}

.welcome {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end
}

.welcome__left-text {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}





.main-photo__wrapper {
    width: 200px;
    height: 300px;
    right: 0;
    top: 100px;
    transform: scaleX(-1);
    background: url("../resourses/main-photo.jpeg");
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: 30% 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.main-photo__wrapper:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background: linear-gradient(to bottom, transparent 10%, 44%, #282821)

}

.main-service {
    font-size: 20px;
    line-height: 19px;
    text-align: justify;
 }
 
 .welcome__left-text h1{
    font-size: 51px;
    line-height: 47px;
    font-weight: 600;
 }

.role {
    font-size: 34px;
    line-height: 40px;
}

@media (max-width:980px) {
    .menu-list {
        display: flex;
        flex-direction: column;
        /* justify-content: flex-end; */
        gap: 5% 50px;
    }
    .header__inner, .welcome {
        display: block;
    }
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
      }
}
